
.cities{
  background-color: #00023a;
  font-family: "montserrat", sans-serif;
}

.cities p {
    font-size: 30px;
    padding: 8px;
    text-align: center;
    padding: 8px;
    color: #4d2800;
    text-decoration: none;
    width: 100%;
    color: #ef02ff;
    height: 45px;
}
.cities h1{
  color: #ebff00;
  font-size: 50px;
  text-shadow: 5px 5px 5px 5px #ebff00;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 40px;
}

body {
  margin: 0;
  
}

.header {
  text-align: center;
  color: brown;
  background-color: #00023a;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.login-btn{
    float: right;
  margin:20px;
  height: 40px;
  border: none;
  background-color: #000000 ;
  color: #ebff00;
  font-size: 20px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  transition: 0.6s;
  cursor: pointer;
}
.login-btn:hover{
  margin:20px;
  height: 40px;
  border: none;
  background-color: #ebff00;
  color: #000000;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  transition: 0.6s;
  cursor: pointer;
}