

#headline {
    text-align: center;
    height: 700px;
    background: url(background1.jpg) center center / cover no-repeat;
    background-position: center center;
}

.customnav{
	background-color: #000000;
	color:  #ebff00;
    height: 80px;
}
#buttons{
    float: right;
}

.search-box{
	width: 900px;
	margin: 0 auto;

}
.search{
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	/*	box-shadow: 6px 6px 15px -4px #ebff00;*/
}
#search-txt{
	background: #fff;
    width: 440px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    border-left: none;
}

#search-btn{
	position: relative;
	padding-top: 2px;
	left: -5px;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #000000;
    color: #ebff00;
    border: 2px solid #000000;
}
#search-btn:hover{
	position: relative;
	padding-top: 2px;
	left: -5px;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ebff00;
    color: #000000;
}

.foods{
	height: 500px;
	border-radius: 15px;
	width: 120%;
}


#mainlogo{
	height: 180px;
	border-radius: 20px;
	margin-top: 100px;
}
#logoimg{
	height: 100px;
	width: auto;
}
#content{
	background: #000000;
    font-family: 'Oswald', sans-serif;
}
.content{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.6rem;

}

.jumbotron{
	background-color: transparent;
	padding-bottom: 0;
}
#tagline{
	color: white;
	font-weight: 700;
    line-height: 76px;
    letter-spacing: -0.04ch;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    text-shadow: 8px 9px 5px #000;
}
.signup-btn, .login-btn:hover, .browse-btn{
	margin:20px;
	height: 40px;
	border: none;
	background-color: #ebff00;
	color: #000000;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	border-radius: 3px;
	transition: 0.6s;
}	


.login-btn, .signup-btn:hover, .browse-btn:hover{
	margin:20px;
	height: 40px;
	border: none;
	background-color: #000000 ;
	color: #ebff00;
	font-size: 20px;
	border-radius: 3px;
	font-family: 'Poppins', sans-serif;
	transition: 0.6s;
}
	
.card{
	background-color: #000000;
	color: white;	text-align: center;
}


@media(max-width: 900px)
{
	 #tagline{
		color: white;
		font-weight: 500;
	    line-height: 56px;
	    font-size: 40px;
	    letter-spacing: -0.04ch;
	    text-transform: none;
	}

	.search-box{
		width: 500px;
		margin: 0 auto;
	}
	.search{
		position: relative;
		display: inline-block;
		font-size: 15px;
		box-sizing: border-box;
		transition: 0.5s;
	}
	#search-txt{
		background: #fff;
	    width: 320px;
	    height: 50px;
	    border: none;
	    outline: none;
	    padding: 0 25px;
	    border-radius: 25px 0 0 25px;
	}

	#search-btn{
		position: relative;
		padding-top: 2px;
		left: -5px;
	    border-radius: 0 25px 25px 0;
	    height: 50px;
	    width: 90px;
	    border: none;
	    outline: none;
	    cursor: pointer;
	    background: #000000;
	    color: #ebff00;
	}
	#search-btn:hover{
		position: relative;
		padding-top: 2px;
		left: -5px;
	    border-radius: 0 25px 25px 0;
	    height: 50px;
	    width: 90px;
	    border: none;
	    outline: none;
	    cursor: pointer;
	    background: #ebff00;
	    color: #000000;
		
	}
	

}	
@media(max-width: 450px)
{
	 #tagline{
		color: white;
		font-weight: 300;
	    line-height: 36px;
	    font-size: 30px;
	    letter-spacing: -0.04ch;
	    text-transform: none;
	}

	.search-box{
		width: 250px;
		margin: 0 auto;
	}
	.search{
		position: relative;
		display: inline-block;
		font-size: 13px;
		box-sizing: border-box;
		transition: 0.5s;
	}
	#search-txt{
		background: #fff;
	    width: 180px;
	    height: 50px;
	    border: none;
	    outline: none;
	    padding: 0 25px;
	    border-radius: 25px 0 0 25px;
	}

	#search-btn{
		position: relative;
		padding-top: 2px;
		left: -5px;
	    border-radius: 0 25px 25px 0;
	    height: 50px;
	    width: 70px;
	    border: none;
	    outline: none;
	    cursor: pointer;
	    background: #000000;
	    color: #ebff00;
	}
	#search-btn:hover{
		position: relative;
		padding-top: 2px;
		left: -5px;
	    border-radius: 0 25px 25px 0;
	    height: 50px;
	    width: 70px;
	    border: none;
	    outline: none;
	    cursor: pointer;
	    background: #ebff00;
	    color: #000000;
		
	}
	

}	

@media(max-width: 600px)
{
	.signup-btn, .login-btn:hover, .browse-btn{
	margin:15px;
	height: 30px;
	border: none;
	background-color: #ebff00;
	color: #000000;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	border-radius: 3px;
	transition: 0.6s;
}	


.login-btn, .signup-btn:hover, .browse-btn:hover{
	margin:15px;
	height: 30px;
	border: none;
	background-color: #000000 ;
	color: #ebff00;
	font-size: 15px;
	border-radius: 3px;
	font-family: 'Poppins', sans-serif;
	transition: 0.6s;
}
}


/*signup and login*/
#navID{
    position:fixed;
    right: -360px;
    width: 360px;
    height: 80%;
    background: rgba(0,0,0,0.55);
    transition: 0.8s ease;
    color: white;
}
#navID.active{
    right: 0px;
}
.sidebar > .side-nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-item{
    display: flex;
}

#sign-up{
    display: none;
}
#sign-up.active{
    display:block;

}
#login{
    display: none;
}
#login.active{
    display: block;
}
.loginbox p, .signupbox p{
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin-left: 15px;
}
.loginbox input, .signupbox input{
    margin-bottom: 20px;
    width: 80%;
}
.loginbox input[type="Email"], .loginbox input[type="Password"],
.signupbox input[type="Email"], .signupbox input[type="Password"], .signupbox input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    margin:2px 20px;
}
.signupbox input[type="checkbox"]{
    width: 6%;
    margin-top: 20px;
}   
.signupbox span{
    margin: 10px;
}

.loginbox input[type="submit"], .signupbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #ebff00;
    color: #000000;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px 20px;
    transition: 0.6s;
}
.loginbox input[type="submit"]:hover, .signupbox input[type="submit"]:hover{
    background: #000000;
    color: #ebff00;
}
#close{
    font-size: 30px;
    background: none;
    color: #EBFF00;
    cursor: pointer;
    border: none;
    margin-bottom: 25px;
}
#close:hover{
    font-size: 30px;
    background:#EBFF00 ;
    color: #000000;
    cursor: pointer;
    border: none;
    transition: 0.6s;
}
