body{
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
	min-height: 100vh;
	background-image: linear-gradient(125deg, #a43cf3, #00ecb6);
}

.container{
	width: 98%;
	text-align: center;
}

.container h1{
	font-size: 160px;
	margin: 0;
	font-weight: 900;
	letter-spacing: 20px;
	color: #343434;
}

.container a{
	text-decoration: none;
	background: #000000;
	color: #fff;
	padding: 12px 24px;
	display: inline-block;
	border-radius: 25px;
	font-size: 14px;
	text-transform: uppercase;
	transition: 0.4s;
}

.container a:hover{
	color: #ebff00;
}